{% extends 'layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    {{ encore_entry_link_tags('trip_add') }}
{% endblock %}


{% block title %}
    {% if mod == 'add' %}
    Sortir.com - Créer une sortie
    {% elseif mod == 'edit' %}
    Sortir.com - Modifier une sortie
    {% endif %}
{% endblock %}

{% block main %}
    <h2 class="mb-3">
        {% if mod == 'add' %}
            Créer une sortie
        {% elseif mod == 'edit' %}
            Modifier une sortie
        {% endif %}
    </h2>
    <div class="form">
        {{ form_start(tripForm) }}
        <div class="row">
            <div class="col-12 col-lg-6">
                {{ form_row(tripForm.name) }}
                {{ form_row(tripForm.startDate) }}
                {{ form_row(tripForm.registrationDeadline) }}
                {{ form_row(tripForm.maxRegistrationNumber) }}
                {{ form_row(tripForm.duration) }}
                {{ form_row(tripForm.information) }}
            </div>
            <div class="col-12 col-lg-6">
                {{ form_row(tripForm.city) }}
                <datalist id="cities"></datalist>
                <a href="#">Add</a>

                {{ form_row(tripForm.location) }}
                <a href="#">Add</a>

                <div id="location_detail">
                    <div class="form-group row">
                        <label class="col-form-label col-lg-4" for="trip_location_street">Rue :</label>
                        <div class="col-lg-8">
                            <input type="text" disabled id="trip_location_street" name="trip_location[street]" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-4" for="trip_location_latitute">Latitute :</label>
                        <div class="col-lg-8">
                            <input type="text" disabled id="trip_location_latitute" name="trip_location[latitute]" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-4" for="trip_location_longitude">Longitude :</label>
                        <div class="col-lg-8">
                            <input type="text" disabled id="trip_location_longitude" name="trip_location[longitude]" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row flex-wrap justify-content-center">
            {{ form_row(tripForm.save) }}
            {{ form_row(tripForm.publish) }}
            {% if mod == 'edit' %}
                <div class="form-group">
                    <a href="#" class="btn btn-outline-info">Supprimer la sortie</a>
                </div>
            {% endif %}
            <div class="form-group">
                <a href="#" class="btn btn-outline-info">Annuler</a>
            </div>
        </div>
        {{ form_end(tripForm) }}
    </div>

{% endblock %}

 {% block script %}
     {{ parent() }}
     {{ encore_entry_script_tags('trip_add') }}
 {% endblock %}