{% extends 'layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}


{% block title %}
    Sortir.com - Tableau de bord
{% endblock %}

{% block main %}
    <div class="dashboard-info d-none d-lg-block">
        <div class="row justify-content-end">
            Utilisateur : {{ app.user.firstname|title }} {{ app.user.name|first|upper }}.

        </div>
        <div class="row justify-content-end">
            Date du jour : {{ "now"|date("d/m/Y") }}
        </div>
    </div>

    <div class="dashboard-filter">
        <h3>Filtrer les sorties</h3>
        <div class="filter">
                {% include 'trip/filter.html.twig' with {form: form} only%}
        </div>
    </div>
    <div style="padding-top: 15px"></div>
    <div class="card-columns">

        {% for trip in trips %}
            <div class="card border-secondary">
                <div class="card-body">
                    <h5 class="card-title">{{ trip.name|upper }}</h5>
                    <p class="card-city">{{ trip.location.city.name }}</p>
                    <ul class="list-group list-group-flush">

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-6">
                                    Date de début
                                </div>
                                <div>
                                    {{ trip.startDate|date("d/m/Y à H:i") }}
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-6">
                                    inscrits{{ trip.maxRegistrationNumber ? '/places' }}
                                </div>
                                <div>
                                    {{ trip.participants|length }}{{ trip.maxRegistrationNumber ? '/' ~ trip.maxRegistrationNumber }}
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-6">
                                    Etat
                                </div>
                                <div>
                                    {{ trip.state.wording|title }}
                                </div>
                            </div>
                        </li>

                        {% if trip.state.wording == 'ouvert' %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-6">
                                        Clôture
                                    </div>
                                    <div>
                                        {{ trip.registrationDeadline|date("d/m/Y à H:i") }}
                                    </div>
                                </div>
                            </li>
                        {% endif %}

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-6">
                                    Organisateur
                                </div>
                                <div>
                                    {{ trip.organizer.firstname|title }} {{ trip.organizer.name|first|upper }}
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="d-flex justify-content-center my-2">
                        {# boutons afficher, modifier, publier #}
                        {% if trip.state.wording == 'en création' and trip.organizer.id == app.user.id %}
                            <a href="{{ path('trip_add',{'id':trip.id}) }}" class="btn btn-outline-info btn-sm mx-2">Modifier</a>
                            <a href="#" class="btn btn-outline-primary btn-sm mx-2">Publier</a>
                        {% else %}
                            <a href="#" class="btn btn-outline-info btn-sm mx-2">Afficher</a>
                        {% endif %}

                        {# boutons s'inscrire, se désister #}
                        {% if (trip.state.wording == 'ouvert' or 'fermé') and date() < date(trip.registrationDeadline) and trip.state.wording != 'annulé'%}
                            {% set isRegistred = false %}
                            {% for participant in trip.participants %}
                                {% if participant.id == app.user.id %}
                                    {% set isRegistred = true %}
                                {% endif %}
                            {% endfor %}
                            {% if isRegistred %}
                                <a href="{{ path('trip_unsubscribe', {id: trip.id}) }}" class="btn btn-outline-warning btn-sm mx-2" id="unsubscribe">Se désister</a>
                            {% endif %}
                            {% if isRegistred == false and trip.state.wording == 'ouvert' and trip.organizer.id != app.user.id %}
                                <a href="{{ path('trip_register', {id: trip.id}) }}" class="btn btn-outline-success btn-sm mx-2">S'inscrire</a>
                            {% endif %}
                        {% endif %}

                        {# bouton annuler #}
                        {% if trip.organizer.id == app.user.id and date() < date(trip.startDate) and trip.state.wording != 'annulé'%}
                            <a href="{{ path('trip_cancel', {id: trip.id}) }}" class="btn btn-outline-danger btn-sm mx-2">Annuler</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

 {% block script %}
     {{ parent() }}
     {{ encore_entry_script_tags('dashboard') }}


 {% endblock %}

