{% block stylesheet %}
    {{ encore_entry_link_tags('filter') }}
{% endblock %}


{{ form_start(form,{class: 'filter'}) }}
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-4">
            {{ form_row(form.campus,{class: 'filter'}) }}
            {{ form_row(form.q,{class: 'filter'}) }}
            {{ form_row(form.dateMin,{class: 'filter'}) }}
            {{ form_row(form.dateMax,{class: 'filter'}) }}
        </div>
        <div class="col-12 col-lg-6">
            {{ form_row(form.userOrganisateur,{class: 'filter'}) }}
            {{ form_row(form.userInscrit,{class: 'filter'}) }}
            {{ form_row(form.userNonInscrit,{class: 'filter'}) }}
            {{ form_row(form.finishedTrip,{class: 'filter'}) }}
        </div>
        <div class="col-12 col-lg-2">
            <div class="d-flex flex-wrap flex-column">
                <button type="submit" class="btn btn-primary btn-lg mb-3 mt-lg-5">Rechercher</button>
                <a href="{{path ('trip_add')}}" class="btn btn-info mt-lg-3">Créer une sortie</a>
            </div>

        </div>
    </div>
</div>



{{ form_end(form) }}

 {% block script %}
     {{ encore_entry_script_tags('filter') }}


 {% endblock %}