<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% block stylesheet %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <title>{% block title %}Sortir.com - Se connecter{% endblock %}</title>
    </head>
    <body>
        <div class="container">
            <header>
                <img src="{{ asset("images/logoSite.jpg") }}" alt="Logo du site">

                {% block header %}
                {% endblock %}
            </header>

            {# afficher les messages flash #}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block main %}
                <h1>Bienvenue !</h1>
            {% endblock %}

        </div>
        {% block script %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </body>
</html>